## login aliases
alias simontam='ssh -X sannavajjala6@simontam.cc.gatech.edu'
alias rivertam='ssh -X sannavajjala6@rivertam.cc.gatech.edu'
alias inara='ssh -X sannavajjala6@inara.cc.gatech.edu'
alias mal='ssh -X sannavajjala6@mal.cc.gatech.edu'

# do not delete / or prompt if deleting more than 3 files at a time #
alias r='reset'
# confirmation #
alias mv='mv -i'
alias ln='ln -i'

# Override cp so that all copies happen via rsync #
alias cp='rsync -ah --progress'

alias rsync='rsync -ah --progress'

## a quick way to get out of current directory ##
alias ..='cd ..'
alias .2='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'

# Make grep more user friendly by highlighting matches
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias mkdir='mkdir -pv'
alias diff='colordiff'

# handy short cuts #
alias h='history'
alias j='jobs -l'
alias wget='wget -c'

alias jlab='jupyter lab --no-browser --ip 0.0.0.0 --port '
alias jnote='jupyter notebook --no-browser --ip 0.0.0.0 --port '

#GIT aliases
alias gs='git status'
alias gst='git stash'
alias ga='git add '
alias gf='git fetch'
alias gbd='git branch -d'
alias gb='git branch'
alias gc='git commit '
alias gd='git diff '
alias gch='git checkout '
alias gcb='git checkout -b'
alias gpush='git push origin '
alias gpull='git pull origin '
alias greset='git reset HEAD '
alias gcf='git checkout -- '
alias gittree='git log --graph --decorate --pretty=oneline --abbrev-commit'

# Conda aliases
alias cls='conda env list'
alias cld='conda env remove --yes'
alias ca='conda activate '
alias cde='conda deactivate'

# Virtualenvwrapper aliases
alias vnew='mkvirtualenv '

# tmux aliases
alias tnew='tmux new -s '
alias ta='tmux -u a -t '
alias tk='tmux kill-session -t '
alias tls='tmux list-sessions'

# Docker aliases
alias di='docker images '
alias dc='docker containers ls '
alias dcall='docker container ls -a '
alias da='docker attach '
alias dps='docker ps '
alias dpsall='docker ps -a '
alias drm='docker rm -f '
alias drmi='docker rmi '
alias ds='docker stop '

#temporary aliases for Mayank
alias vncstart='sudo systemctl start vncserver@1'
alias kill_zombie='ps -aux | grep "python" | grep "loky" | grep aditya | awk "{print $2}" | xargs kill'

function gdrive_download () {
  CONFIRM=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate "https://docs.google.com/uc?export=download&id=$1" -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')
  wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$CONFIRM&id=$1" -O $2
  rm -rf /tmp/cookies.txt
}

